package components

import "github.com/dimiro1/faas-go/internal/ui/components/code_example"

type TestTabData struct {
	Examples []code_example.Example
	URL      string
	Methods  []string
	Response string
}

css testTabContainer() {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

css testTabPanels() {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.5rem;
}

templ TestTab(data TestTabData) {
	<div class={ testTabContainer() }>
		@code_example.CodeExamples(data.Examples)
		<div class={ testTabPanels() }>
			@RequestBuilder(RequestBuilderData{
				URL:     data.URL,
				Methods: data.Methods,
			})
			@ResponseViewer(data.Response)
		</div>
	</div>
}
